#header {
    background-color: rgb(153,255,255) ;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:15%;
}

#menu {
    background-color: blue ;
    position:absolute;
    top:15%;
    left:0;
    width:100%;
    height:10%;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 100%;
}

#menu li {
    float: left;
    height: 100%;

}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #111;
    height: 100%;
}

h1{
    font-family: fantasy, blippo;
    font-size: 34px;
    text-align: center;

}

button.Buttons, input.Buttons  {
    background-color: rgb(153, 153, 255);
    color: white;
    padding: 14px 20px;
    margin: 4px 2px 40px 2px;
    border: none;
    text-align: center;
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
    width: 12%;
    border-radius: 8px;
    font-family: "Comic Sans MS";
}

button.text, input.text{
    text-align: center;
}

#content{
    background-color: rgb(153, 204, 255);
    position:absolute;
    top:25%;
    left:0;
    width:100%;
    height:70%;
}

#content #Welcome #loginButton{
    top: 50%;
    height: 10%;
    width: 10%;
    margin-left: 45%;
}

#content #Welcome #registerButton{
    top: 70%;
    height: 10%;
    width: 10%;
    margin-left: 45%;
    up: 90%
}

#registration{
    max-width: 70%;
    margin-left: 3%;
    padding-left: 10%;
    padding-top: 1.5%;
    padding-bottom: 3%;
    font-weight: bold;
    text-align: center;
}

#registration input{
    margin-bottom: 1.5%;
    font-family: "Calibri Light", serif;
    width: 30%;
    left: 50%;
    text-align: center;
}

#registration button{
    margin-left: 17%;
    width: 13%;
    height: 1%;
}

#Login{
    text-align: center;
}

#registration span{
    display: none;
    color: red;
    font-weight: bold;
}

#registrationLogIn span{
    display: none;
    color: red;
    font-weight: bold;
}


.birthday{
    margin-bottom: 1%;
}

#aboutDialog{
    font-family: "Calibri Light", serif;
    font-size:20px;
    font-weight:bold;
    border: 4px solid rgb(153,153,255);
    position: absolute;
}

.dialog{
    text-align: center;
    width: 88%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-family:"Calibri Light", serif;
    font-size:16px;
    font-weight:bold;
    text-align: center;
}

#Settings #leftScreen{
    position:absolute;
    top: 12%;
    margin-left: 35%;
    float: left;
    font-weight: bold;
    font-size: 14px;
}

#Settings #rightScreen{
    margin-right: 40%;
    float: right;
}

.property {
    margin-bottom: 3%;
}

#Settings #buttons{
    position: absolute;
    top: 93%;
    display: inline;
    left: 43%;
}

.smallButtons{
    background-color: rgb(153, 153, 255);
    color: white;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
    font-family: "Comic Sans MS";
    border-radius: 8px;
}

/*#Settings #start{
    margin-left: 5%;
    margin-top: 2%;
}

#Settings #random{
    margin-top: 2%;
}*/

#startGame #canvas{
    position: absolute;
    top: 5%;
    height: 90%;
    width: 40%;
    /*background: rgb(204, 255, 255);*/
    background: rgb(204, 255, 255);
    margin-left: 30%;
    border: 2px outset black;
    border-radius: 8px;

}

#gameDetails{
    top: 14%;
    left: 8%;
    position: absolute;
    padding: 1%;
    background: rgb(204, 255, 255);
    border-radius: 8px;
    border-style: outset;
    font-family: menu, sans-serif;;
    border-color: black;


}

.scores{
    display: inline-block;
}

.lives{
    margin-top: 0;
    display: inline-block;
    position: relative;
}


.logo{
    top:0;

}

#logo{
    margin-left: 30%;
}

#footer {
    background-color: rgb(153, 153, 255);
    position:absolute;
    top:95%;
    left:0;
    width:100%;
    height:5%;
    text-align: center;
    padding-top: 7px;
    font-family: menu, sans-serif;;
    color: white;
    font-size: 12px;
}

.footer{
    margin: -5px 0px;
}
